<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button class="btn-color">Random color name</button>
    <button class="btn-hex">Random hex color</button>
    <button class="btn-RGB">Random RGB color</button>

    <form action="" method="post">
        <input type="number" name="height" id="height" placeholder="Height">
        <input type="number" name="weight" id="weight" placeholder="Weight">
        <button type="submit" class="btn-bmi">Calculate BMI</button>
    </form>
    

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="main.js"></script>
</body>
</html>