<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{/layout/admin-layout :: main-fragment(~{:: title}, ~{}, ~{:: #main}, ~{})}">

<head>
    <title>Danh sách khóa học</title>
</head>

<body>
    <!-- BODY -->
    <th:block id="main">
        <div class="course-list mt-4 mb-4">
            <div class="container">
                <div class="mb-4">
                    <a th:href="@{/dashboard/create}" class="btn-custom btn-create-course">
                        <span><i class="fa-solid fa-plus"></i></span>
                        Tạo khóa học
                    </a>
                    <a th:href="@{/dashboard}" class="btn-custom btn-refresh">
                        <span><i class="fa-solid fa-arrow-rotate-right"></i></span>
                        Refresh
                    </a>
                </div>

                <div class="course-list-inner p-2">
                    <table class="table course-table">
                        <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên khóa học</th>
                            <th>Hình thức</th>
                            <th>Chủ đề</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="course, iStat : ${courses}">
                            <td th:text="${iStat.index + 1}"></td>
                            <td>
                                <a th:href="@{/dashboard/edit/{id} (id = ${course.id})}" th:text="${course.name}">SpringBoot - Web Back End</a>
                            </td>
                            <td class="text-info" th:text="${course.type == 0 ? 'Onlab' : 'Online'}"
                                                    th:classappend="${course.type != 0 ? 'text-warning' : ''}"></td>
                            <td th:text="${courseService.showTopicsDashboard(course)}">

                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <nav aria-label="Pagination">
                    <ul class="pagination">
                        <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled' : ''">
                            <a class="page-link"
                               th:if="${currentPage > 1}"
                               th:href="@{'/dashboard?page=' + ${currentPage - 1}}">Previous</a>
                            <span  th:unless="${currentPage > 1}" class="page-link">Previous</span>
                        </li>
                        <li class="page-item page-middle"
                            th:each="i: ${#numbers.sequence(1, totalPages)}"
                            th:classappend="${i == currentPage} ? 'active' : ''">
                            <a class="page-link" th:if="${i != currentPage}"
                               th:href="@{'/dashboard?page=' + ${i}}">[[${i}]]</a>
                            <span th:unless="${i != currentPage}" class="page-link">[[${i}]]</span>
                        </li>
                        <li class="page-item" th:classappend="${currentPage == totalPages} ? disabled : ''">
                            <a class="page-link" th:if="${currentPage < totalPages}"
                               th:href="@{'/dashboard?page=' + ${currentPage + 1}}">Next</a>
                            <span th:unless="${currentPage < totalPages}" class="page-link">Next</span>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </th:block>
</body>

</html>