<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
                  xmlns="http://www.w3.org/1999/xhtml"
      th:replace="~{/layout/admin-layout :: main-fragment(~{:: title}, ~{}, ~{:: #main}, ~{:: #js})}">

<head>
    <title>Tạo khóa học</title>
</head>

<body>
    <!-- BODY -->
    <th:block id="main">
        <div class="course-list mt-4 mb-4">
            <div class="container">
                <form action="" method="post" th:object="${courseRequest}" enctype="multipart/form-data">
                    <div class="mb-4 d-flex justify-content-between">
                        <div>
                            <button class="btn-custom btn-update-course" id="btn-update-course">
                                <span><i class="fa-solid fa-plus"></i></span>
                                Cập nhật
                            </button>
                            <a th:href="@{/dashboard}" class="btn-custom btn-refresh">
                                <span><i class="fa-solid fa-angle-left"></i></span>
                                Quay lại
                            </a>
                        </div>
                        <div>
                            <a th:href="@{/dashboard/delete/{id} (id=${course.id})}" class="btn-custom bg-danger" id="btn-delete-course">
                                <span><i class="fa-solid fa-trash-can"></i></span>
                                Xóa
                            </a>
                        </div>
                    </div>
    
                    <div class="course-list-inner p-2">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="mb-3">
                                    <label for="course-name" class="form-label fw-bold">Tên khóa học</label>
                                    <input type="text" class="form-control" id="course-name" th:value="${course.name}" th:field="*{name}">
                                </div>
                                <div class="mb-3">
                                    <label for="course-description" class="form-label fw-bold">Mô tả</label>
                                    <textarea class="form-control" id="course-description" rows="10" th:text="${course.description}" th:field="*{description}"></textarea>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="course-type" class="form-label fw-bold">Hình thức học</label>
                                    <select class="form-control select2" id="course-type" th:field="*{type}">
                                        <option hidden value="3">- Chọn hình thức học</option>
                                        <option th:value="1" th:selected="${course.type} == 1">Online</option>
                                        <option th:value="0" th:selected="${course.type} == 0">Onlab</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="course-topic" class="form-label fw-bold">Chủ đề</label>
                                    <select class="select2 form-control" id="course-topic" multiple="multiple" th:field="*{topics}"
                                    >
                                        <option th:each="topic : ${topics}"
                                                th:text="${topic.name}"
                                                th:value="${topic.id}"
                                        >
                                        </option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="course-supporter" class="form-label fw-bold">Tư vấn viên</label>
                                    <select class="form-control" id="course-supporter" th:field="*{supporter}">
                                        <option th:text="${course.user.name}" th:value="${course.user.id}" th:selected="${!course.user.name.isEmpty()}"></option>
                                        <option th:each="user : ${users}" th:text="${user.name}" th:value="${user.id}"></option>
                                    </select>
                                </div>
    
                                <div class="mb-3">
                                    <label class="form-label fw-bold">Thumnail</label>
                                    <div class="course-logo-preview mb-3 rounded">
                                        <img th:src="${course.thumbnail}" id="course-logo-preview" class="rounded">
                                    </div>

                                    <label for="course-logo-input" class="btn btn-warning">Đổi ảnh</label>
                                    <input th:field="*{image}" type="file" id="course-logo-input" class="d-none">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </th:block>

  <th:block id="js">
      <script th:inline="javascript">

          // $(".select2").select2();

          const courseTopic = $("#course-topic");
          courseTopic.select2({
              // placeholder: "- Chọn chủ đề",
          });



          // Kích hoạt select2


          // let course = {
          //     id: 1,
          //     name: "Khóa học Spring Boot",
          //     description: "Spring Boot là một module của Spring Framework giúp giảm tải các cấu hình cho phép xây dựng nhanh chóng một ứng dụng độc lập. Spring Boot cung cấp sẵn các Embedded HTTP servers (Tomcat, Jetty, …), các plugins để phát triển và test một cách dễ dàng.",
          //     type: "onlab",
          //     topics: ["1", "2", "3"],
          //     thumnail: "https://media.techmaster.vn/api/static/36/bu7v9ks51co41h2qcttg",
          //     supporterId: "1"
          // }
          //
          // const initCourse = (course) => {
          //     courseName.value = course.name;
          //     courseDescription.innerText = course.description;
          //     courseType.value = course.type;
          //     courseTopic.val(course.topics).trigger("change");
          //     courseSupporter.value = course.supporterId;
          //     courseThumbnailPreview.src = course.thumnail;
          // }
          //
          // initCourse(course);
      </script>
  </th:block>
</body>

</html>